<div class="wrap">
  <h1>{{ title }}</h1>
  <form method="post" action="{{ form_action }}">
    {{ settings_fields_html|raw }}
    {{ sections_html|raw }}
    {{ submit_button_html|raw }}
  </form>
</div>
