<button type="button" class="{{ class }}" data-gdh-rdv-open style="{{ style }}">
	{{ button_label }}
</button>

<div id="gdh-rdv-popup" class="gdh-rdv-popup" style="display: none;">
	<div class="gdh-rdv-popup-overlay"></div>
	<div
		class="gdh-rdv-popup-content">
		{# Header #}
		<div class="gdh-rdv-popup-header align-{{ title_align }}">
			<h2>{{ title_text }}</h2>
			<button type="button" class="gdh-rdv-close" data-gdh-rdv-close>&times;</button>
		</div>

		{# Progress Bar #}
		{% include 'frontend/parts/progress.twig' %}

		{# Form #}
		<form
			id="gdh-rdv-form" class="gdh-rdv-form">
			{# Step 1: Time Slots #}
			{% include 'frontend/steps/step-1-slots.twig' %}

			{# Step 2: Slots #}
			{% include 'frontend/steps/step-2-slots.twig' %}

			{# Step 3: Slots #}
			{% include 'frontend/steps/step-3-slots.twig' %}

			{# Form Actions #}
			{% include 'frontend/parts/form-actions.twig' %}
		</form>

		{# Success Message #}
		{% include 'frontend/parts/success.twig' %}
	</div>
</div>
